
body {
    font-family: sans-serif;
    margin-right: 50px;
    padding: 0;
    display: flex;
    justify-content: left;
    align-items: center;
    min-height: 100vh;
    background-color: #faeeff;
    margin-left: 1050px;
  }
  
  .container {
    background-color:#e9acfd;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 400px;
  }
  
  .title {
    font-weight: 700;
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
    background-color:#d400ff;
    border-radius: 100%;
  }
  
  .description {
    text-align: center;
    font-size: 16px;
    color: #757575;
    margin-bottom: 20px;
  }
  
  .signup-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-label {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 5px;
  }
  
  .form-control {
    height: 40px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 15px;
  }
  
  .btn {
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .btn-primary {
    background-color: #000000;
    color: #fff;
  }
  
  .btn-google {
    background-color: #fff;
    color: #000;
    border: 1px solid #ccc;
    margin-top: 10px;
  }
  
  .or-text {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #888;
  }
  
  .already-have-account {
    text-align: center;
    font-size: 15px;
  }
  .btn-primary:hover{
    color: #000;
    background-color:white;
  }
  body {
    display: flex;
    align-items: center; /* Center align items vertically */
    background-image: url('./images/img1.jpg'); 
    background-size: cover; /* Cover the entire container with the background image */
    background-position: center; /* Center the background image */
    height: 100vh; /* Set the height to fill the viewport height */
  }
  
  