body {
  font-family: sans-serif;
  margin: 0;
  padding: 0 100px;
  display: flex;
  justify-content: right; /* Center horizontally */
  align-items: center; /* Center vertically */
  min-height: 100vh;
  background-image: url('./images/img1.jpg'); 
  background-size: cover; /* Cover the entire container with the background image */
  background-position: center; /* Center the background image */
}

.container {
  background-color: #e9acfd;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 90%; /* Use percentage for responsiveness */
  max-width: 400px; /* Limit maximum width */
}

.title {
  font-weight: 700;
  text-align: center;
  font-size: 30px;
  margin-bottom: 10px;
  background-color: #d400ff;
  border-radius: 100%;
}

.description {
  text-align: center;
  font-size: 16px;
  color: #757575;
  margin-bottom: 20px;
}

.signup-form {
  display: flex;
  flex-direction: column;
}

.form-label {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 5px;
}

.form-control {
  height: 40px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 15px;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.btn-primary {
  background-color: #000000;
  color: #fff;
}

.btn-google {
  background-color: #fff;
  color: #000;
  border: 1px solid #ccc;
  margin-top: 10px;
}

.or-text {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #888;
}

.already-have-account {
  text-align: center;
  font-size: 15px;
}

.btn-primary:hover {
  color: #000;
  background-color: white;
}